<!DOCTYPE html>
<html>
<head>
    <style>
        .chart-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* Set the aspect ratio (16:9 for example) */
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="chart-container">
        <canvas id="BarChart">{{ chart }}</canvas>
    </div>
</body>
</html>
