<!DOCTYPE html>
<html>
<head>
    <style>
        .chart-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* Set the aspect ratio (16:9 for example) */
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="chart-container">
        <canvas id="BarChart" aria-label="Ranking by gross financial assets per capita (in 2022 EUR), Bar Chart Values. 
        United States: 253.450,
        Switzerland: 238.780,
        Denmark: 163.830,
        Singapore: 151.200,
        Taiwan: 141.600,
        New Zealand: 117.760,
        Canada: 117.450,
        Sweden: 116.060,
        Netherlands: 103.110,
        Belgium: 97.790,
        Japan: 96.500,
        Australia: 92.630,
        Israel: 92.370,
        United Kingdom: 88.380,
        Ireland: 71.360,
        Italy: 69.340,
        France: 67.500,
        Austria: 65.330,
        Germany: 63.540,
        Malta: 49.500,
        Spain: 41.260,
        South Korea: 38.000,
        Finland: 35.970,
        Norway: 34.060,
        Portugal: 29.450" role="img">{{ chart }}</canvas>
    </div>
</body>
</html>
